include header.pug

   h2 Artwork

   .flexbox
         each item in artwork
            .flexcard
               p(class='id')=item.id
               h4=item.title
               img(src=item.thumbnailUrl)
               p=item.medium
               p=item.creditLine
               p="€"+item.price+".00"
               button add to order

include review.pug
include footer.pug
